{% extends "home.html" %}

{% block content %}
<!-- Tab links -->
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'Physical_Details')" id="defaultOpen">Physical Details</button>
  <button class="tablinks" onclick="openCity(event, 'Calorie_Range')">Calorie Range</button>
</div>


<!-- Tab content -->
<div id="Physical_Details" class="tabcontent">
  <iframe src="{% url 'food_details' %}"  style="border: transparent; height:427px; width:100%;" allowTransparency="true"></iframe>
</div>

<div id="Calorie_Range" class="tabcontent">
 <iframe src="{% url 'food_info' %}"  style="border: transparent; height:427px; width:100%;" allowTransparency="true"></iframe>
</div>

<!-- <ul>
	<li><a href = {% url 'food_details' %}>Physical Details</a></li>
	<li><a href = {% url 'food_info' %}>Calories</a></li>
</ul> -->
{% endblock %}
