<html>
	<head>
		<title>FoodAlloc</title>
	</head>
	<body>
		<h1>FoodAlloc</h1>
		<hr>
		{% block content %}
		<p><div><a href="{% url 'alloc' %}">Food Allocation</a></div>&emsp;&emsp;<div><a href="{% url 'lookup' %}">Food Lookup</a></div></p>
		<p><div><a href="{% url 'prefer' %}">Set Preferences</a></div>&emsp;&emsp;<div><a href="{% url 'alter' %}">Set Alternatives</a></div></p>
		{% endblock %}

		{% block if_logged_in %}
			<table>
			{% if user.is_authenticated %}
		     <tr>User: {{ user.get_username }}</tr>&emsp;
		     <tr><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></tr>   
		   {% else %}
		     <tr><a href="{% url 'login'%}?next={{request.path}}">Login</a></tr>   
		   {% endif %} 
		</table>
		{% endblock %}
	</body>
</html>
