<html>
	<head>
		<title>FoodAlloc</title>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/materialize.css' %}">
		<script src="{% static 'js/materialize.js' %}"></script>
		<link rel="stylesheet" href="{% static 'css/tabs.css' %}">
		<script src="{% static 'js/tabs.js' %}"></script>
		<link rel="stylesheet" href="{% static 'css/overlay.css' %}">
		<script src="{% static 'js/overlay.js' %}"></script>
		<link rel="stylesheet" href="{% static 'css/footer.css' %}">
		<style>
			.left{
				float: left;
			}

			.right{
				float: right;
			}

			.left:hover, .right:hover{
				cursor: pointer;
				color: grey;
			}


		</style>
		<script>
			function alertBox(option)
			{
				var msg = "Successfully set as " + option
    			alert(msg);
			}
		</script>
	</head>

			<body style = "background-image: url(../static/images/food.jpg);">
				{% block heading %}
					<h5 style = "color: white;" class = "card-panel grey darken-4">
						<div class="left">
							<a href={% url 'home' %}>FoodAlloc</a>
						</div>
						<div class="right">
							<div id="myNav" class="overlay">
								<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
									<div class="overlay-content">
										<p> FoodAlloc is a food and diet management software that can suggest the user food items
							   			based on the user's input.</p>
							  		</div>
							</div>

							<span onclick="openNav()">About</span>
						</div>
					</h5>
				{% endblock %}

				{% block content %}
				<div class="container" id = "cont">
					<a href="{% url 'alloc' %}" class="waves-effect waves-light btn" style = "top:100px;left:20%;">Food Allocation</a>
					<a href="{% url 'lookup' %}" class="waves-effect waves-light btn" style = "top:100px;left:30%;width:200;">Food Lookup</a><br>
					<a href="{% url 'prefer' %}" class="waves-effect waves-light btn" style = "top:200px;left:20%;">Set Preferences</a>
					<a href="{% url 'alter' %}" class="waves-effect waves-light btn" style = "top:200px;left:30%;">Set Alternatives</a>
				</div>
				{% endblock %}

				{% block if_logged_in %}
					<div class="footer" id="footer">
						{% if user.is_authenticated %}
					     User: {{ user.get_username }}&emsp;
					     <a href="{% url 'logout'%}?next={{request.path}}">Logout</a>&emsp;
					   {% else %}
					     <a href="{% url 'login'%}?next={{request.path}}">Login</a>&emsp;
					   {% endif %}
					</div>
				{% endblock %}
			</body>
</html>
