{% extends "home.html" %}

{% block content %}

<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'Calorie_Range')">Calorie Range</button>
  <button class="tablinks" onclick="openCity(event, 'Food_Name')">Food Name</button>
</div>

<!-- Tab content -->
<div id="Calorie_Range" class="tabcontent">
  <iframe src="{% url 'lookup_info' %}" height="70%" width="100%" style="border: none;"></iframe>
</div>

<div id="Food_Name" class="tabcontent">
 <iframe src="{% url 'lookup_name' %}" height="70%" width="100%" style="border: none;"></iframe>
</div>

{% endblock %}
