{% extends "home.html" %}


{% block content %}
	<h4 style = "color:white;"> Suggested items for breakfast </h4>
	{% for item in breakfast %}
		<p class = "card-panel" style="color: black;">
		{% for details in item %}
			{{ details }} &emsp;
		{% endfor %}
		</p>
	{% endfor %}

	<h4 style = "color:white; padding:20px;"> Suggested items for lunch </h4>
	{% for item in lunch %}
		<p class = "card-panel" style="color: black;">
		{% for details in item %}
			{{ details }}
		{% endfor %}
		</p>
	{% endfor %}


	<h4 style = "color:white; padding: 20px;"> Suggested items for dinner </h4>
	{% for item in dinner %}
		<p class = "card-panel" style="color: black;">
		{% for details in item %}
			{{ details }}
		{% endfor %}
		</p>
	{% endfor %}
	<script type="text/javascript">
	    document.getElementById("about").style.display = "none";
	</script>
{% endblock %}
